* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("https://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #222;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    filter: invert(1);
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}